$main-color: #339966;
$main-color90: rgba(51,153,102,0.9);
$main-color80: rgba(51,153,102,0.8);
$main-color70: rgba(51,153,102,0.7);
$main-color60: rgba(51,153,102,0.6);
$main-color50: rgba(51,153,102,0.5);
$main-color40: rgba(51,153,102,0.4);
$main-color30: rgba(51,153,102,0.3);
$main-color20: rgba(51,153,102,0.2);
$main-color10: rgba(51,153,102,0.1);
